main {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

app-square {
  border: 1px blue;
  height: 200px;
  width: 200px;
}
